FROM ubuntu:24.04

ARG DEBIAN_FRONTEND=noninteractive

RUN apt-get update && apt-get install -y \
    software-properties-common && add-apt-repository ppa:mir-team/release \
    && rm -rf /var/lib/apt/lists/*

RUN apt-get update && apt-get install -y \
    libmiral-dev \
    mir-platform-graphics-virtual \
    cmake \
    build-essential \
    pkg-config \
    file \
    libfmt-dev \
    git \
    && rm -rf /var/lib/apt/lists/*
