FROM ubuntu:24.04

ARG DEBIAN_FRONTEND=noninteractive

RUN apt-get update && apt-get install -y \
    software-properties-common && add-apt-repository ppa:mir-team/release \
    && rm -rf /var/lib/apt/lists/*

RUN apt-get update && apt-get install -y \
    g++-14 \
    libmiral-dev \
    mir-platform-graphics-virtual \
    cmake \
    build-essential \
    pkg-config \
    file \
    libfmt-dev \
    git \
    libwayland-dev \
    libasound2-dev \
    libgl1-mesa-dev \
    libxext-dev \
    libpugixml-dev \
    libglibmm-2.4-dev \
    libfontconfig1-dev \
    && rm -rf /var/lib/apt/lists/*